body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.admin-home-page {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  background-color: #112d25;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
}

.sidebar-menu li {
  margin: 10px 0;
  cursor: pointer;
  position: relative;
}

.sidebar-menu li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.sidebar-menu li a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.main-content {
  flex: 1;
  background-color: #f4f5f7;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

.header h1 {
  margin: 0;
}

.content {
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.drivers-list {
  padding: 20px;
}

.drivers-list h2 {
  margin-bottom: 20px;
  text-align: center;
  margin-top:10px;
}

.data-table {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
  margin-bottom: 20px;
  table-layout: fixed;
}

.data-table th,
.data-table td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.data-table th {
  background-color: #f4f5f7;
}

.data-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.data-table th:nth-child(1), .data-table td:nth-child(1) {
  width: 10%;
}

.data-table th:nth-child(2), .data-table td:nth-child(2) {
  width: 15%;
}

.data-table th:nth-child(3), .data-table td:nth-child(3) {
  width: 25%;
}

.data-table th:nth-child(4), .data-table td:nth-child(4) {
  width: 15%;
}

.data-table th:nth-child(5), .data-table td:nth-child(5) {
  width: 20%;
}

.add-driver-form {
  display: flex;
  flex-direction: column;
  align-items: wrap;
  gap: 10px;
  margin-top: 20px;
}

.add-driver-form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 85%;
}

.add-driver-button {
  margin-top: 10px;
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 105px;
  cursor: pointer;
  width: 15%;
}

.add-driver-button:hover {
  background-color: rgba(0, 0, 0, 0.478);
}
.submit-button {
  margin-top: 10px;
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 87%;
}
.delete-button{
  margin-top: 10px;
  background-color: rgb(244, 57, 57);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 105px;
  cursor: pointer;
  width: 60%;
}